<div class="container-fluid" id="footer1">
  <div class="row">
    <div class="text-center col-xs-12">
      <svg class="icon icon-Pixel-W bottom">
                                <use xlink:href="#icon-Pixel-W"></use>
                            </svg>
    </div>
  </div>
</div>
<div class="container-fluid" id="footer2">
  <div class="row">
    <div class="text-center col-xs-12">
      <svg class="icon icon-Workers-B icon-black bottom">
                                <use xlink:href="#icon-Workers-B"></use>
                            </svg>
    </div>
  </div>
</div>
<footer class="site-footer">
  <div class="social-buttons hidden-xs hidden-sm">
        <a href="#" class="social-btn" target="_blank">
          <svg class="icon icon-meetup-logo">
                      <use xlink:href="#icon-meetup-logo"></use>
          </svg>
        </a>

        <a href="#" class="social-btn" target="_blank">
          <svg class="icon icon-twitter-logo">
                      <use xlink:href="#icon-twitter-logo"></use>
          </svg>
        </a>

        <a href="#" class="social-btn" target="_blank">
          <svg class="icon icon-facebook-logo">
                      <use xlink:href="#icon-facebook-logo"></use>
          </svg>
        </a>

        <a href="#" class="social-btn" target="_blank">
          <svg class="icon icon-instagram-logo">
                      <use xlink:href="#icon-instagram-logo"></use>
          </svg>
        </a>
        <a href="#" class="social-btn" target="_blank">
          <svg class="icon icon-youtube-play-button">
                      <use xlink:href="#icon-youtube-play-button"></use>
          </svg>
        </a>
</div>
<!--  Only for small devices -->
<div class="row hidden-md hidden-lg">
  <div class="col-xs-6">
    <a href="#" class="small-social-btn" target="_blank">
      <svg class="icon icon-meetup-logo">
                  <use xlink:href="#icon-meetup-logo"></use>
      </svg>
    </a>
  </div>
  <div class="col-xs-6">
    <a href="#" class="small-social-btn" target="_blank">
      <svg class="icon icon-youtube-play-button">
                  <use xlink:href="#icon-youtube-play-button"></use>
      </svg>
    </a>

  </div>
  <div class="col-xs-6">
    <a href="#" class="small-social-btn" target="_blank">
      <svg class="icon icon-facebook-logo">
                  <use xlink:href="#icon-facebook-logo"></use>
      </svg>
    </a>
  </div>
  <div class="col-xs-6">
    <a href="#" class="small-social-btn" target="_blank">
      <svg class="icon icon-twitter-logo">
                  <use xlink:href="#icon-twitter-logo"></use>
      </svg>
    </a>

  </div>
  <div class="col-xs-12">
    <a href="#" class="small-social-btn" target="_blank">
      <svg class="icon icon-instagram-logo">
                  <use xlink:href="#icon-instagram-logo"></use>
      </svg>
    </a>
  </div>
</div>
</footer>
<script src="/assets/js/jquery-3.1.0.min.js" ></script>
<script src="/assets/js/svginclude.js" async></script>
<script src="/assets/js/footer.js" ></script>
