<footer class="site-footer">

  <div class="social-buttons">
    <a href="#" class="social-btn entypo-meetup" target="_blank"><div class="sr">Meetup - opens in new tab</div></a>

        <a href="#" class="social-btn entypo-twitter" target="_blank"><div class="sr">Twitter - opens in new tab</div></a>

        <a href="#" class="social-btn entypo-facebook" target="_blank"><div class="sr">Facebook - opens in new tab</div></a>

        <a href="#" class="social-btn entypo-instagram" target="_blank"><div class="sr">Instagram - opens in new tab</div></a>
        <a href="#" class="social-btn entypo-youtube" target="_blank"><div class="sr">YouTube - opens in new tab</div></a>
</div>

</footer>
<script src="/assets/js/jquery-3.1.0.min.js" ></script>
<script src="/assets/js/svginclude.js" async></script>
<script src="/assets/js/footer.js" ></script>
