<div class="container-fluid" id="footer1">
  <div class="row">
    <div class="text-center col-xs-12">
      <svg class="icon icon-Pixel-W bottom">
                                <use xlink:href="#icon-Pixel-W"></use>
                            </svg>
    </div>
  </div>
</div>
<div class="container-fluid" id="footer2">
  <div class="row">
    <div class="text-center col-xs-12">
      <svg class="icon icon-Workers-B icon-black bottom">
                                <use xlink:href="#icon-Workers-B"></use>
                            </svg>
    </div>
  </div>
</div>
<footer class="site-footer">

  <div class="social-buttons">
    <a href="#" class="social-btn entypo-meetup" target="_blank"><div class="sr">Meetup - opens in new tab</div></a>

        <a href="#" class="social-btn entypo-twitter" target="_blank"><div class="sr">Twitter - opens in new tab</div></a>

        <a href="#" class="social-btn entypo-facebook" target="_blank"><div class="sr">Facebook - opens in new tab</div></a>

        <a href="#" class="social-btn entypo-instagram" target="_blank"><div class="sr">Instagram - opens in new tab</div></a>
        <a href="#" class="social-btn entypo-youtube" target="_blank"><div class="sr">YouTube - opens in new tab</div></a>
</div>

</footer>
<script src="/assets/js/jquery-3.1.0.min.js" ></script>
<script src="/assets/js/svginclude.js" async></script>
<script src="/assets/js/footer.js" ></script>
