<div class="container-fluid" id="events">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="info">
      <svg class="icon icon-pixel-heart">
            <use xlink:href="#icon-pixel-heart"></use>
      </svg>
      <div>
          <h1>EVNT 0-1</h1>
          <p>7:00PM - September 27, 2016</p>
          <p>The Tap House</p>
          <a href="//www.facebook.com/events/165010207290767/" class="eventDetails">
            Event Details
            <svg class="icon icon-arrow-of-small-pixels-or-squares-and-double-line-pointing-to-left-direction">
                <use xlink:href="#icon-arrow-of-small-pixels-or-squares-and-double-line-pointing-to-left-direction"></use>
            </svg>
          </a>
      </div>
    </div>
  </div>
  <div class="row pixelsTop">
    {% include pixels.html %}

  </div>
</div>
<div class="container-fluid" id="why">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <h3 id="postpone">
        Come join us at the inaugural Pixel Workers meet-up! The first topic is all about The Value of Community. Here, we'll introduce ourselves and what this new event is all about, and chat about what community means to those in the creative industry.
      </h3>
      <h2 class="text-center">ABOUT</h2>
      <h4>
        The Pixel Workers meet-up is a once a month event where the Central Alberta creative industry can get together, share ideas, have a beer, and unite ourselves so we can all become better, together.
      </h4>

      <p>This is a group for designers, developers, writers, photographers, marketers, and anyone who works with pixels for a living, to find solace in a community that’s virtually non-existent in Red Deer today.</p>
      <p>The format is simple. We get together one evening a month, hear a 10-15 minute lightening talk from a member of our community, and we spend the rest of the evening networking, hanging out, and using the presentation’s topic as an icebreaker for people to meet each other.</p>
      <p>We really hope you’ll join us.</p>
    </div>
  </div>
</div>
<div class="container-fluid" id="connect">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <h2 class="text-center">GET IN TOUCH</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h3>Email list</h3>
          {% include mailChimpSignUpform.html %}
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="http://slack.pixelworkers.ca/" class="btn btn-default" style="padding-bottom:0px;">
            <svg class="icon icon-slack">
                        <use xlink:href="#icon-slack"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
