<div class="container-fluid" id="events">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="info">
      <svg class="icon icon-pixel-heart">
            <use xlink:href="#icon-pixel-heart"></use>
      </svg>
      <div>
          <h1>EVENT 0-4</h1>
          <p>7:00PM - February 28, 2017</p>
          <p>Toad 'n' Turtle</p>
          <a href="//www.facebook.com/pixelworkersca" class="eventDetails">
            Event Details
            <svg class="icon icon-arrow-of-small-pixels-or-squares-and-double-line-pointing-to-left-direction">
                <use xlink:href="#icon-arrow-of-small-pixels-or-squares-and-double-line-pointing-to-left-direction"></use>
            </svg>
          </a>
      </div>
    </div>
  </div>
  <div class="row pixelsTop">
    {% include pixels.html %}

  </div>
</div>
<div class="container-fluid" id="why">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <h3 id="postpone">
		Pixel Workers Meetup Event 0-4 is coming up next Tuesday, February 28. Come on out to the Toad ‘n’ Turtle for a beer and good pixel worker conversation. As always, first pint is on us!
		<br><br>
		Award-winning agricultural reporter and board chair of Volunteer Central Jennifer Blair, will give a 10-minute Lightening Talk on how volunteering benefits creative professionals and the community, how to find the right volunteer opportunity, and why volunteering is essential for personal and professional development.
      </h3>
      <br>
      <p>Jennifer Blair is an award-winning agricultural reporter, communicator, and writer who has spent more than half her career telling stories. Jennifer has worked in a variety of communications and policy development roles, including at The City of Red Deer, Servus Credit Union, and Alberta Pulse Growers, before joining Alberta Farmer Express as a reporter in 2013. An avid volunteer, Jennifer has volunteered with 4-H, the Red Deer Festival of Trees, and Volunteer Central, where she currently acts as Board Chair. </p>      
      <h2 class="text-center">ABOUT</h2>
      <h4>
        The Pixel Workers meet-up is a once a month event where the Central Alberta creative industry can get together, share ideas, have a beer, and unite ourselves so we can all become better, together.
      </h4>

      <p>This is a group for designers, developers, writers, photographers, marketers, and anyone who works with pixels for a living, to find solace in a community that’s virtually non-existent in Red Deer today.</p>
      <p>The format is simple. We get together one evening a month, hear a 10-15 minute lightening talk from a member of our community, and we spend the rest of the evening networking, hanging out, and using the presentation’s topic as an icebreaker for people to meet each other.</p>
      <p>We really hope you’ll join us.</p>
    </div>
  </div>
</div>
<div class="container-fluid" id="connect">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <h2 class="text-center">GET IN TOUCH</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h3>Email list</h3>
          {% include mailChimpSignUpform.html %}
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="http://slack.pixelworkers.ca/" class="btn btn-default" style="padding-bottom:0px;">
            <svg class="icon icon-slack">
                        <use xlink:href="#icon-slack"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
