<div class="container-fluid" id="events">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="info">
      <svg class="icon icon-pixel-heart">
            <use xlink:href="#icon-pixel-heart"></use>
      </svg>
      <div>
          <h1>EVENT 0-8, 0-9, 0-10</h1>
          <p>7:00PM -  September 28th, October 26th & November 30th</p>
<!--
          <p><a href="//www.google.ca/maps/dir/''/toad+n+turtle/@52.2341724,-113.8884047,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x537456c7d7e7dfc7:0xd0a557491860cec7!2m2!1d-113.8183652!2d52.2341931" target="_blank">Toad 'n' Turtle</a></p>
          <a href="//www.facebook.com/events/1828568100800853" class="eventDetails">
            Event Details
            <svg class="icon icon-arrow-of-small-pixels-or-squares-and-double-line-pointing-to-left-direction">
                <use xlink:href="#icon-arrow-of-small-pixels-or-squares-and-double-line-pointing-to-left-direction"></use>
            </svg>
          </a>
-->
      </div>
    </div>
  </div>
  <div class="row pixelsTop">
    {% include pixels.html %}

  </div>
</div>
<div class="container-fluid" id="why">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <h3 id="postpone">
<!-- 		Pixel Workers Meetup #5 is coming up next Thursday, March 30th! Swing by the Toad ‘n’ Turtle for a beer and some good pixel worker conversation. As always, the first pint is on us! -->
      </h3>
      <br> 
      <h2 class="text-center">ABOUT</h2>
      <h4>
        The Pixel Workers meet-up is a place where creative professionals in Central Alberta can get together to share ideas, have a beer or two, and rejoice in the fact that there are indeed more of us out there! The format is pretty simple: once a month we get together for an evening of networking. Each event will have a topic, kicking the night off with a quick 10-15 minute chat about said topic. From there, it’s time to drink some beer and share some thoughts! 
      </h4>
      <p>Be it designers, developers, writers, photographers, marketers, and anyone who works with pixels for a living - this is a place to share your common interest and passion with other like-minded individuals in our neck of the woods.</p>
    </div>
  </div>
</div>
<div class="container-fluid" id="connect">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <h2 class="text-center">GET IN TOUCH</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h3>Email list</h3>
          {% include mailChimpSignUpform.html %}
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="http://slack.pixelworkers.ca/" class="btn btn-default" style="padding-bottom:0px;">
            <svg class="icon icon-slack">
                        <use xlink:href="#icon-slack"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
