<div class="container-fluid" id="pixelBanner">
  <div class="row">
    <div class="text-center col-xs-12">
      <svg class="icon icon-Pixel-W">
                                <use xlink:href="#icon-Pixel-W"></use>
                            </svg>
    </div>
  </div>
</div>
<div class="container-fluid" id="pixelBannerB">
  <div class="row">
    <div class="text-center col-xs-12">
      <svg class="icon icon-Workers-B icon-black">
                                <use xlink:href="#icon-Workers-B"></use>
                            </svg>
    </div>
  </div>
</div>
