#events {
  background: url(/assets/i/pixel-bg.svg);
  height: 350px;
}
#why {
  color: #fff;
  background-color: #00953a;
  h2 {
    font-size: 6em;
    font-weight: 700;
  }
  p {
    max-width: 250px;
    margin: 0 auto;
  }
}
