//-----------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------

//-------------------------------------------------
// Colors

// WHITES, GREYS, AND BLACKS

#footer1, #footer2 {
  background-color: black;
}
#footer1 {
  padding-top: 15px;
}
.icon-Pixel-W.bottom {
  font-size: 50px;
}
.icon-Workers-B.bottom {
  font-size: 29.1px;
  fill: #fff;
}
$white: #fff;
$white-darkest: #dde3e6;

$black-lightest: #485f67;
$black-light: #222a2c;
$black: #000;

// COLORS

$red: #ff5747;
$red-darker: #cb4539;

$pink: #fa55ca;

$blue-lighter: #40d7ff;
$blue-light: #00ccff;
$blue: #16bfff;
$blue-dark: #129acd;
$blue-darker: #1273cd;

$navy: #4f74a5;
$navy-darker: #223d56;

$green: #2bdc33;
$green-dark: #23b32a;




$md: 768;
$lg: 980;

//-----------------------------------------------------------
// MIXINS
//-----------------------------------------------------------

//-------------------------------------------------
// Font size
//
// Generate font-size definitions in REM for hip
// browsers, and equivalent PX for old ones
//
// @param size (px)
// @return size px, size rem
@mixin font-size($sizeValue: 16) {
    font-size: ($sizeValue) + px;
    font-size: ($sizeValue / 16) + rem;
}


//-------------------------------------------------
// Media Queries
//
// Generates a media query based on the options
//
// @param size (px)
// @param type (min, max, min-device, or max-device)
// @param orientation (width or heigh)
// @return size rem
@mixin mq($size, $type: min, $orientation: width) {

    @media (#{$type}-#{$orientation}: $size / 16 + em) {
        @content;
    }
}

footer {
  background-color: $black;
  // overflow-x: hidden;
  text-align: center;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}
    .small-social-btn {
      position: relative;
      display: inline-block;
      margin: 20px 8px 30px;
      width: 40px;
      height: 40px;
      z-index: 1;
      // Small screens
      .icon {font-size: 3em;}
      .icon-new_meetup { font-size: 3.5em;margin-top: -5px;}
      .icon-twitter-logo { fill: #4099ff; }
      .icon-facebook-logo { fill: #3b5998; }
      .icon-instagram-logo { fill: #8a3ab9; }
      .icon-youtube-play-button { fill: #eb0000; }
      .icon-meetup-new {
        fill: #ED1C40;
        font-size: 3.5em;
    }
    }
    .social-btn {
      position: relative;
      display: inline-block;
      margin: 20px 8px 0;
      width: 40px;
      height: 40px;
      z-index: 1;

      background: $black;
      border-radius: 50%;

      line-height: 40px;
      @include font-size(20);

      &:before { line-height: inherit; }
      &:hover {
        background: $white;
        transition: background 0.05s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        }

      .icon {font-size: 1.5em;}
      .icon-new_meetup {
        font-size: 3.5em;
        @media (min-width: $screen-md-min) {
          font-size: 2em;
          margin-bottom: -6px;
      }
    }
    // lg screens
      .icon-twitter-logo { fill: #4099ff; }
      .icon-facebook-logo { fill: #3b5998; }
      .icon-instagram-logo { fill: #8a3ab9; }
      .icon-youtube-play-button { fill: #eb0000; }

        span {
            position: absolute;
            display: block;

            background: $white;
            opacity: 0;

            transform: scale(0);
            transition: transform 0.3s, opacity 0s 0.3s;

            backface-visibility: hidden;
            -webkit-perspective: 1000;
               -moz-perspective: 1000;
                -ms-perspective: 1000;
                    perspective: 1000;

            &:before,
            &:after {
                position: absolute;
                display: block;
                width: 4px;
                height: 4px;

                background: $white;

                content: '';
            }
        }

        span:first-child,
        span:nth-child(3) {
            left: 10px;
            width: 20px;
            height: 4px;

            &:before,
            &:after { width: 8px; }
        }

        span:nth-child(2),
        span:last-child {
            top: 10px;
            width: 4px;
            height: 20px;

            &:before,
            &:after { height: 8px; }
        }

        span:nth-child(2):before,
        span:last-child:before,
        span:nth-child(3):before,
        span:nth-child(3):after {
            top: -4px;
        }

        span:first-child:after,
        span:nth-child(3):after,
        span:last-child:before,
        span:last-child:after {
            right: -4px;
        }

        span:nth-child(2):after,
        span:last-child:after,
        span:first-child:before,
        span:first-child:after {
            bottom: -4px;
        }

        span:first-child:before,
        span:nth-child(3):before,
        span:nth-child(2):before,
        span:nth-child(2):after {
            left: -4px;
        }

        span:first-child { top: -2px; }

        span:nth-child(2) { right: -2px; }

        span:nth-child(3) { bottom: -2px; }

        span:last-child { left: -2px; }

        &:hover {
            span {
                opacity: 1;

                transform: scale(1);
                transition: transform 0.3s;
            }
        }

        @include mq($md) {
            margin: 30px 15px;
            width: 96px;
            height: 96px;

            line-height: 116px;

            @include font-size(45);

            span {
                &:before,
                &:after {
                    width: 10px;
                    height: 10px;
                }
            }

            span:first-child,
            span:nth-child(3) {
                left: 24px;
                width: 48px;
                height: 10px;

                &:before,
                &:after { width: 16px; }
            }

            span:nth-child(2),
            span:last-child {
                top: 24px;
                width: 10px;
                height: 48px;

                &:before,
                &:after { height: 16px; }
            }

            span:nth-child(2):before,
            span:last-child:before,
            span:nth-child(3):before,
            span:nth-child(3):after {
                top: -10px;
            }

            span:first-child:after,
            span:nth-child(3):after,
            span:last-child:before,
            span:last-child:after {
                right: -10px;
            }

            span:nth-child(2):after,
            span:last-child:after,
            span:first-child:before,
            span:first-child:after {
                bottom: -10px;
            }

            span:first-child:before,
            span:nth-child(3):before,
            span:nth-child(2):before,
            span:nth-child(2):after {
                left: -10px;
            }

            span:first-child { top: -6px; }

            span:nth-child(2) { right: -6px; }

            span:nth-child(3) { bottom: -6px; }

            span:last-child { left: -6px; }
        }
    }
