// iphone 5 fix
  @media (max-width: $screen-xs-min) {
    #pixelBanner .top {
      font-size: 65px;
    }
    #pixelBannerB .top {
      font-size: 38px;
    }
    #events .info svg {
      left: -130px;
      font-size: 145px;
    }
    #events .info > div {
      padding: 15px 25px 5px 36px;
    }
  }
// Realy strange issue with white line on right body
html,body {
  padding: 0px;
  margin: 0px;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
@media (max-width: $screen-xs-max) {
  .container-fluid {
    margin-bottom: -1px;
  }
}
.coolNavBar {
  position: absolute;
  top: 2px;
  right: 10px;
  color: $white;
  .icon {
    font-size: 1.3em;
    width: 1em;
    fill: white;
    transform: rotate(180deg);
    vertical-align: sub;
  }
}
