#pixelBanner {
  padding: 30px 0px 10px 0px;
  background-color: #000000;
  color: #fff;
  .top {
    font-size: 115px;
  }
}
#pixelBannerB {
  padding: 10px 0px 0px 0px;
  .top {
    font-size: 67px;
  }
}
.icon.icon-black {
  fill: black;
}
