.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: inherit;
    stroke: inherit;
}

.icon-Pixel-W {
    font-size:78.2px;
    width:(330/78.2)+em;
}

.icon-Workers-B {
    font-size:45.7px;
    width:(333.2/45.7)+em;
}

.icon-pixel-bg {
    font-size:444.45px;
    width:(1000/444.45)+em;
}

.icon-pixel-heart {
    font-size:10px;
    width:(11/10)+em;
}

