.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: white;
    stroke: inherit;
}

.icon-Pixel-W {
    font-size:78.2px;
    width:(330/78.2)+em;
}

.icon-Workers-B {
    font-size:45.7px;
    width:(333.2/45.7)+em;
}
