.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: inherit;
    stroke: inherit;
}

.icon-Pixel-W {
    font-size:78.2px;
    width:(330/78.2)+em;
}

.icon-Workers-B {
    font-size:45.7px;
    width:(333.2/45.7)+em;
}

.icon-arrow-of-small-pixels-or-squares-and-double-line-pointing-to-left-direction {
    font-size:448px;
    width:(448/448)+em;
}

.icon-envelope {
    font-size:511.626px;
    width:(511.626/511.626)+em;
}

.icon-facebook-logo {
    font-size:90px;
    width:(90/90)+em;
}

.icon-instagram-logo {
    font-size:169.063px;
    width:(169.063/169.063)+em;
}

.icon-new_meetup {
    font-size:80px;
    width:(82/80)+em;
}

.icon-pixel-bg {
    font-size:444.45px;
    width:(1000/444.45)+em;
}

.icon-pixel-heart {
    font-size:10px;
    width:(11/10)+em;
}

.icon-slack {
    font-size:149.23px;
    width:(498.15/149.23)+em;
}

.icon-twitter-logo {
    font-size:486.392px;
    width:(486.392/486.392)+em;
}

.icon-youtube-play-button {
    font-size:512px;
    width:(512/512)+em;
}

